a.navbar-brand {
    text-indent: -9999px;
    width: 105px;
    background: transparent url(../../admin/images/popebu.png) 10px 5px no-repeat;
}

div.jumbotron {
    background: transparent url(../images/img-00.png) no-repeat bottom right;
    background-color: #CCC;
}

.jumbotron h1 {
    margin-top: 55px;
}

.users img {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.users h4 {
    background-color: #f5f5f5;
    padding: 10px 15px;
    margin: 0;
}

div.users {
    margin-bottom: 20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.users p {
    padding: 10px 15px;
    margin: 0;
}

div.details {
    background-color: #f5f5f5;
    font-size: 11px;
    margin-bottom: 10px;
}