<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "blog/includes/head.html" %}
    </head>
    <body screen_capture_injected="true">
        {% include "blog/includes/navbar.html" %}
        <div class="container">
            <div class="row row-offcanvas row-offcanvas-right">
                {% block content %}{% endblock %}
                {% include "blog/includes/sidebar.html" %}
            </div><!--/row-->
            <hr>
            <footer>
                {% include "blog/includes/footer.html" %}
            </footer>
        </div><!--/.container-->
        {% block after-content %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
        <script src="{{ STATIC_URL }}blog/js/offcanvas.js"></script>
        {% endblock %}
    </body>
</html>