{% extends "blog/base.html" %}

{% block content %}
<div class="col-xs-12 col-sm-9">
    <p class="pull-right visible-xs">
        <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    {% include "destaque/index.html" %}
    <div class="row">
        {% for item in result %}
        <div class="col-sm-4">
            <h2><a href="{{ item.get_absolute_url }}">{{ item.titulo }}</a></h2>
            <p>{{ item.conteudo_texto|truncatechars:200 }}</p>
            <p><a class="btn btn-default" href="{{ item.get_absolute_url }}" role="button">Ler mais »</a></p>
        </div><!--/span-->
        {% endfor %}
    </div><!--/row-->
    <div class="pagination">
        <span class="step-links">
            {% if contacts.has_previous %}
                <a href="?page={{ result.previous_page_number }}">anterior</a>
            {% endif %}
    
            <span class="current">
                Página {{ result.number }} de {{ result.paginator.num_pages }}.
            </span>
    
            {% if result.has_next %}
                <a href="?page={{ result.next_page_number }}">próxima</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}