{% extends "blog/base.html" %}
{% block content %}
<div class="col-xs-12 col-sm-9">
    <h2><a href="{{ obj.get_absolute_url }}">{{ obj.titulo }}</a></h2>
    <div class="details">{{ obj.dt_criacao }} {% if obj.dt_atualizacao %}| {{ obj.dt_atualizacao }} {% endif %}| Postado por {{ obj.usuario }}</div>
    {{ obj.conteudo|safe }}
</div>
{% endblock %}