/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin: auto;
  }
}

a.navbar-brand {
    text-indent: -9999px;
    width: 105px;
    background: transparent url(../../admin/images/popebu.png) 10px 5px no-repeat;
}

.jumbotron {
  text-align: center;
  background: transparent;
}

.jumbotron h1 {
    margin-top: 55px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

fieldset label {
    width: 100px;
    font-size: 18px;
}

fieldset p {
    font-size: 11px;
    color: #363636;
}

ul.errorlist {
    color: #BC0000;
    list-style-type: none;
    margin-left: 60px;
    margin-bottom: 0;
}

.errorlist li {
    font-size: 12px;
    padding: 2px;
    text-indent: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #FFF;
}

.row {
    overflow: hidden;
}

.loading {
    position:absolute;
    top: 50%;
    display: none;
}