/** 
 * theming styles
 * 
 */

#header {
    background: #363636;
}

#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    text-indent: -9999px;
    background: transparent url(../../admin/images/popebu.png) 10px 5px no-repeat;
    height: 31px;
    width: 93px;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}

body.login { 
    background: url(../images/background-00.png) repeat-x;
    background-color: #363636;
}

#container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
