{% extends "popebu/base.html" %}
{% block head %}
{{ block.super }}
<title>Popebu | Setup</title>
<!-- Custom styles for this template -->
<link href="{{ STATIC_URL}}setup/css/main.css" rel="stylesheet">

{% endblock %}
{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1>Pronto!</h1>
        <p class="lead">Agora, reinicie o servidor da aplicação e acesse &lsaquo;url&rsaquo;/admin para começar a postar!</p>
    </div>
</div><!-- /.container -->
{% endblock %}