{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block extrahead %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}admin/css/jquery.tagsinput.css" />
<script src="{{ STATIC_URL }}admin/js/jquery-1.11.0.min.js"></script>
<script src="{{ STATIC_URL }}admin/js/jquery.tagsinput.min.js"></script>
<script src="{{ STATIC_URL }}admin/administracao/postagem/js/main.js"></script>
{% endblock %}
{% block object-tools-items %}
    <li>
        {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
        <a href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
    </li>
    {% if original %}
    {% if original.rascunho %}
    <li><a href="{{ original.get_preview }}" class="viewsitelink">{% trans "View on site" %}</a></li>
    {% else %}
    <li><a href="{{ original.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>
    {% endif %}
    {% endif %}
{% endblock %}
